# Ignorar variáveis sensíveis
.env

# Python cache
*.pyc
__pycache__/

# Arquivos temporários
*.sh
*.log

# IDEs
.vscode/
.idea/

# Uploads locais (caso tenha uma pasta para salvar imagens temporariamente)
uploads/

