<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Upload de Imagem</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="container">
    <h1>Upload de Imagem</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="imagem" accept="image/*" required><br>
      <button type="submit">Enviar</button>
    </form>

    {% if result_img %}
    <div class="result">
      <h2>Imagem enviada com sucesso: {{ result_img }}</h2>
      <img src="/uploads/{{ result_img }}" width="300" alt="Imagem com detecção">
    </div>
    {% endif %}
  </div>
</body>
</html>

